body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* nav */
.navbar-nav {
  font-size: 14px;
}

/* progress */
.progress {
  height: 60px;
  border-radius: 50px;
  transition: all 0.5s ease;
}

.progress:hover {
  transform: scale(1.1);
}